div{
    padding: 2%;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    background-color: cadetblue;


}

body{
    margin: 0px;;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}